alembic
bcrypt
cachetools
cloudinary>=1.36.0
cryptography
dnspython
email-validator
fastapi
google-auth
greenlet
gunicorn
httpx
mistralai
passlib[bcrypt]
psycopg[binary]
pydantic[email]
python-dotenv
python-jose[cryptography]
python-multipart
requests
slowapi
SQLAlchemy
uvicorn
websockets
